CURSOR_API_TOKEN=your_cursor_api_token_here
GOOGLE_API_KEY=your_google_api_key_here
GUARDIAN_HOST=your_guardian_host_here
GUARDIAN_DB=your_guardian_db_here
GUARDIAN_USER=your_guardian_user_here
GUARDIAN_PASSWORD=your_guardian_password_here
